/backendTask/node_modules/
/backendTask/package-lock.json
/frontendTask/backend/node_modules/
/frontendTask/backend/package-lock.json
/frontendTask/frontend/node_modules/
/frontendTask/frontend/dist
.idea